In [1]:
a = 10
# "a" is variable name(identifier)
# "=" is assignment operator
# 10 is value (integer value)

In [2]:
print(a)

10

In [3]:
a = 10.6
print(a)

10.6

In [4]:
type(a)

float

In [5]:
a = 5
type(a)

int

In [9]:
city = "Karachi"
print(city)
type(city)

Karachi

str

In [10]:
city = 45
type(city)

int

In [11]:
student_name = "Ali"
father_name = "Hussan"

In [12]:
print(student_name+father_name)

AliHussan

In [14]:
num1 = 100
num2 = 200

sum = num1 + num2

print(sum)

300