# For Loops

In [1]:
print("Vivek")
print("Vivek")
print("Vivek")
print("Vivek")
print("Vivek")

Vivek
Vivek
Vivek
Vivek
Vivek

In [5]:
for a in range(5): # 5 will not be included (0,1,2,3,4 times)
    print(a,"Vivek")

0 Vivek
1 Vivek
2 Vivek
3 Vivek
4 Vivek

In [7]:
for numbers in range(10):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [8]:
for numbers in range(1,10):
    print(numbers)

1
2
3
4
5
6
7
8
9

In [11]:
for numbers in range(1,10,3):
    print(numbers)

1
4
7

In [10]:
for numbers in range(10,1,-2):
    print(numbers)

10
8
6
4
2

In [12]:
cities = ["Karachi", "Multan", "Pishawar"]
cities

['Karachi', 'Multan', 'Pishawar']

In [13]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is Karachi
The city under consideration is Multan
The city under consideration is Pishawar

In [14]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [16]:
country = "Pakistan", "America"
for char in country:
    print(char)

Pakistan
America

# for loops's break and continue

In [21]:
for number in [5,7,11,90]:
    if number %2 == 0:
        break
    print(number)

5
7
11

In [23]:
for num in range(10):
    if num == 7 or num == 4:
        continue
    print(num)

0
1
2
3
5
6
8
9