# Nested For Loop

In [1]:
for a in range(5):
    print("Inner loop begains")
    for char in "China":
        print(a, char)

Inner loop begains
0 C
0 h
0 i
0 n
0 a
Inner loop begains
1 C
1 h
1 i
1 n
1 a
Inner loop begains
2 C
2 h
2 i
2 n
2 a
Inner loop begains
3 C
3 h
3 i
3 n
3 a
Inner loop begains
4 C
4 h
4 i
4 n
4 a

In [2]:
tableNumber = int(input("Enter Table Number"))
for a in range(1,11):
    print(f"{tableNumber} * {a} = {tableNumber*a}")

Enter Table Number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [15]:
tables = int(input("Enter the range of table"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

Enter the range of table5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50